<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>ConnServlet</servlet-name>
		<servlet-class>com.xzq.controller.wx.ConnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnServlet</servlet-name>
		<url-pattern>/conn</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>AllImgServlet</servlet-name>
		<servlet-class>com.xzq.controller.crm.haibao.AllImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllImgServlet</servlet-name>
		<url-pattern>/AllImgServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
    	<filter-name>CharacterEncodingFilter</filter-name>	
    	<filter-class>com.xzq.filter.CharacterEncodingFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
    	<filter-name>LoginFilter</filter-name>	
    	<filter-class>com.xzq.filter.LoginFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/jsp/main.jsp</url-pattern>
	</filter-mapping>
</web-app>